body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 50;
    box-shadow: 8px;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #5cbdb9;;
    
}
